--find-links https://download.pytorch.org/whl/cu121

ipykernel==6.29.4
joblib==1.4.2
numpy==1.26.4
pandas==2.0.3
scipy==1.13.0
tqdm==4.66.4
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
#statsmodels==0.14.2
pillow==10.3.0
scanpy==1.10.1
#umap-learn==0.5.6
pot==0.9.3
#absl-py==2.1.0
scprep==1.2.3
phate==1.0.11
torch==2.3.0
torchvision==0.18.0
torchdyn==1.0.6
torchdiffeq==0.2.3
torchsde==0.2.6
#lightning-bolts==0.7.0
#clean-fid==0.1.35
wandb==0.19.3
#plotly==6.0.0
tables==3.10.1
